

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tinyapp</title>

      <form action="/login" method="post">
      <label for="POST-login">Put your name here</label>
      <input id="/login" type="text" name="username">
      <input type="submit" value="Enter">
      </form>
        <% if(username){ %>Hello <%= username %>
      <form action = "/logout" method = "post">
      <input type = "submit" value = "LogOut">
      <% } %>

</head>