

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form action="/login" method="post">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="Enter Username:" style="width: 125px">
      <button>Login</button>
    </form>
</body>
</html>