
<!DOCTYPE html>
<html lang="en">
    <header>
    <% include partials/_header.ejs %>
    </header>
  <body>

    <h3><%= shortURL + " : " + longURL %></h3>

    <form action="" method="post">
      <label for="POST-name">Update URL:</label>
      <input id="POST-name" type="text" name="shortID">
      <input type="submit" value="input">
    </form>

  </form>
  </body>
</html>




